body{
  background-color: black;
}
.App {
  text-align: center;
}
h1{
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* My CSS */


html {
  scroll-behavior: smooth;
  transition-delay: 5s;
}
main {
  text-align: center;
  vertical-align: center;
  font-weight: bolder;
  font-family: cursive;
}
a{
  text-decoration: none;
}
.log{
  font-family: sans-serif cursive;
}
.navbar-brand:first-letter{
  color: blue;
  font-size: 2rem;
}


/* Category */
.categories{
  display: flex;
  margin: 0px 15px;
  flex-direction: row;
  flex-wrap: wrap;
}
.categories:nth-child(all){
/*   border-radius: 20rem; */
  position: relative;
  margin: 15px 30px;
  padding: 0px 30px;
  width: 100%;
  height: 100%;
}
.img-thumbnail{
    width: 50%;
    height: 100%;
    border-radius: 20rem;
}
h3{
  font-weight: bolder;
}
.m-3{
  display: flex;
  width: 20rem;
  margin: 0rem 12rem;
}
.card{
  margin-left: 15px;
  margin-bottom: 15px;
}
.row-cols-4>* {
  width: 16in;
}
.categories{
  background-color: #282c34;
}
.categoryIcon{
  border-radius: 2rem;
  margin: 0px;
  padding: 0px;
}
label{
  color: white;
}
.LoginHead, .RegistrationHead{
  text-align: center;
  padding-bottom: 10%;
}
.LoginTitle, .RegistrationTitle{
  font-size:xx-large;
  font-weight: bolder;
  font-family: sans-serif;
  margin-top: 10%;
}
.LoginTitle{
  margin: 5% 0%;
}
.RegistrationTitle{
  margin-top: 20%;
}
.SubmitButton{
  position: relative;
  text-align: center;
}
.btn{
  border-radius: 2rem;
  margin: 25px 0px;
  font-weight: bolder;
}
.row{
  justify-content: center;
  margin: 0%;
  border-radius: 10px;
}
.Unisex-img{
  position: relative;
  width: 80%;
}
.category-caption
{
  color: white;
}
.sub-heading{
  color: gray;
}
.form-control{
  height: 40%;
}
.field{
  width: 100%;
  margin-left: 10%;
}
.container{
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  margin-left: 30%;
  border-radius: 10px;
  padding-bottom: 2%;
  width: 500px ;
}
form{
  background-color: black;
}
.navbar-dark{
  background-color: black;
}

.custom-form{
  text-align: left;
}
#emailHelp{
  color: white;
}
.card-title{
  margin-right: 0%;
}
.c-t{
  letter-spacing: 3px;
  line-height: 150%;
}
.c-t::first-letter{
  font-size: 50px;
  color: blue;
}
.c-b{
  margin: 7% 0%;
  padding-left: 5%;
  display: flex;
  font-family: 'Baloo Bhai 2', cursive;
  color:white;
}
.custom-spacing{
  margin-left: 7rem;
}
.admin-notify:hover{
  box-shadow: 7px 10px 25px black;
  transform: translateY(-5px);
  transition: 0.8s;
}
.about, .contact{
  text-align: left;
  margin: 0% 0%;
}
.underline{
  background-color: white;
  width: 30%;
  margin-left: 35%;
  border-bottom: white 5px solid;
}
.about-adjust{
  margin-top: 5%;
}
.col{
  width: 120%;
}
.Service-img{
  margin-right: 50px; 
  width: 30%;
  height: min-content;
}
.contact{
  color: white;
  text-align: center;
  margin-bottom: 5%;
}
.contact-adjust{
  text-align: center;
}

/*Reused CSS*/
.detail{
  top: 200px;
  width: 100%;
  font-size: 2rem;
  height: 10rem;
  background-color: rgb(71, 71, 71);
  color: whitesmoke;
}
.whatsapp{
  text-decoration: none;
  color: whitesmoke;
}

/* My Profile Section CSS  */
.name{
  font-weight: bolder;
  position: relative;
  z-index: 99999;
  margin-left: 80%;
}
.img-fluid{
  position: relative;
}
.profile-container{
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: -42%;
  width: 1515px;
}
.container-xxl{
  width: 60%;
  margin-left: 50%;
}
.main{
  position: relative;
  left: 50%;
  margin: 0% 0%;
  width: 83%;
  background-color: black;
  opacity: 0.3;
  text-align: left;
}
.detail{
  text-shadow: 7px 10px 15px black;
  background-color: transparent;
  position: relative;
  top: 0%;
  right: 10%;
  left: -60%;
  margin: 0% -10%;
  border-radius: 20rem;
}
.CP{
  color: white;
  font-weight: bolder;
}
/* Cart Section  */

.cart-container{
  margin: 2% 10%;
  width: 80%;
}
.total-box{
  position: relative;
  left: 150%;
  padding: 10px 20px;
}
.prod{
  padding-left: 20%;
}
/* Mobile Dimensions */
@media screen and (max-width: 600px) {
  .nav{
    position: fixed;
  }
  .log{
    font-family: sans-serif cursive;
  }
  .categories{
    display: flex;
    margin: 10px 5px 15px 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .categories{
    background-color: #282c34;
  }

  .LoginHead{
    text-align: center;
    padding-bottom: 30%;
    padding-top: 10%;
  }
  .link{
    padding-top: 10%;
  
  }
  .LoginTitle{
    font-size:xx-large;
    font-weight: bolder;
    font-family: sans-serif;
  }
  .SubmitButton{
    position: relative;
    text-align: center;
    /* padding-bottom: 5px; */
    padding-bottom: 10%;
  }
  .btn{
    border-radius: 2rem;
    margin: 25px 0px;
    font-weight: bolder;
  }
  .container{
    position: relative;
    margin: 0px 10px;
    width: 340px;
    border-radius: 10px;
    padding-bottom: 2%;
  }
  .field{
    width: 98%; 
  }
  .col{
    width: 100%;
  }
}